.imagen{
    background-image: url("fondo.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    height: 300px;
}

.imagen::before{
    height: 300px;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.fndimg{
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.cnt{
    margin-top: 10%;
}